@page "/qualitymonitorview"

@inject QualityMonitor QualityMonitor

<h3>QualityMonitorView</h3>
<br />
<p>Es sind @datas.Count Qualitätsdaten vorhanden.</p>
<p>Davon sind @QualityMonitor.GetDataFilterdByQuality(Quality.Schlecht).Count nicht in Ordnung!</p>
<br />
<div class="row ">
    @foreach (var listOfDatas in GetSortedDatasPerArticle())
    {
        <ArticleDiagramComponent Datas="@listOfDatas.Value" Name="@listOfDatas.Key"></ArticleDiagramComponent>
    }
</div>
@code {
    List<Data> datas = QualityMonitor.QualityDatas;

    private SortedDictionary<string, List<Data>> GetSortedDatasPerArticle()
    {
        SortedDictionary<string, List<Data>> sortedData = new SortedDictionary<string, List<Data>>();

        foreach (var data in datas)
        {
            if (!sortedData.ContainsKey(data.ArticleDescriptions))
            {
                sortedData.Add(data.ArticleDescriptions, []);
            }
            sortedData[data.ArticleDescriptions].Add(data);
        }
        return sortedData;
    }
}
